<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">
            <div class="row">
              <div class="col">
                <div class="container pe-5 pt-5">
                    <h2>Biometric Registeration!</h2>
                    {% if error %}
                        {{error}}
                    {% endif %}
                    <form method = "POST" action="">
                        {% csrf_token %}
                        <div class="card mt-5">
                            <div class="card-body">
                                    <label><strong>Name:</strong></label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                        <input type="text" class="form-control" placeholder="Enter Username" name="user_name" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>

                                    <label><strong>Email:</strong> </label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Enter your email" name="email" aria-label="Email" aria-describedby="basic-addon2">
                                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                                      </div>

                                <div class="mb-2">
                                    <label><strong>Roll number:</strong></label>
                                    <input type="text" class="form-control" name="roll_number" placeholder="Enter your Roll Number">
                                </div>

                                <button class="btn btn-primary mt-3 mb-4" id="register" name="register">Register</button>
                            </div>
                        </div>

                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <button class="btn btn-danger mt-2" id="login" name="login" onclick="myFunction()">Login</button></p>
                          </form>
            </div>
              </div>
              <div class="col">
                <img style="position: relative" src="/static/img/register.png" class="d-block w-100" alt="..." />
              </div>
            </div>
            <script type="text/javascript">
                function myFunction() {
                  document.getElementsByTagName('p').innerHTML = 'Place finger on sensor';
                  Console.log(document.getElementsByTagName('p').innerHTML);
                }
             </script>
        </div>
    </body>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

<!--  <style>-->
<!--    .Container {-->
<!--      height: 100vh;-->
<!--      width: 100vh;-->
<!--      position: relative;-->
<!--    }-->

<!--    .vertical-center {-->
<!--      margin: 0;-->
<!--      position: absolute;-->
<!--      top: 40%;-->
<!--      left: 100%;-->
<!--    }-->

<!--    button {-->
<!--      height: 3rem;-->
<!--      width: 12rem;-->
<!--      margin-left: 5px;-->
<!--      background-color: green;-->
<!--      color: white;-->
<!--      border-color: green;-->
<!--      font-size: 2rem;-->
<!--    }-->

<!--    button:hover {-->
<!--      background-color: #009b00;-->
<!--    }-->

<!--    body {-->
<!--      background: #F5F5DC;-->

<!--    }-->

<!--    .title {-->
<!--      display: block;-->
<!--      position: absolute;-->
<!--      left: 50%;-->
<!--      margin-bottom: 50px-->
<!--    }-->
<!--  </style>-->


<!--<body>-->
<!--  <h1 class="title">Biometric Scanner</h1>-->
<!--  <div class="Container">-->
<!--    <div class="vertical-center">-->
<!--      <form class="" action="" method="post">-->
<!--        {% csrf_token %}-->

<!--        <button id="register" name="register">Register</button>-->
<!--        <button id="login" name="login" onclick="myFunction()">Login</button>-->
<!--      </form>-->
<!--      <br>-->
<!--      <p>-->
<!--        {{message}}-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <script type="text/javascript">-->
<!--    function myFunction() {-->
<!--      document.getElementsByTagName('p').innerHTML = 'Place finger on sensor';-->
<!--      Console.log(document.getElementsByTagName('p').innerHTML);-->
<!--    }-->
<!--  </script>-->
<!--</body>-->




